include ../_helpers/taglib

|<!--
|{% capture email_title %} Your shopping cart is waiting for you {% endcapture %}
|{% capture email_body %}
|{% if billing_address.first_name %}Hi {{ billing_address.first_name }}, w{% else %}
|W{% endif %}e noticed there {% if item_count == 1 %}was an item{% else %}were some items{% endif %} left in your shopping cart.
|If you're ready to complete your order, your cart is waiting for your return.
|{% endcapture %}
|-->

doctype html
html
  head
    title {{email_title}}
    style <@import "styles.css">
  body
    include ../_partials/header

    .templateColumns
      .templateRowContainer
        include ../_partials/logotype

        .push.centered
          img(src=ASSET_CART_URL width=160 height=140 alt='Abandoned checkout')

        .push.centered
          h3 {{email_title}}

        .push
          p.text.
            {% if custom_message != blank %}
            {{ custom_message }}
            {% else %}
            {{ email_body }}
            {% endif %}

          p.text
            |{% if order_status_url %}
            |#[a(href='{{order_status_url}}' target='_blank') Complete your order] of the following products and let us bring urban farming to you!
            |{% else %}
            |#[a(href='{{shop.url}}' target='_blank') Complete your order] of the following products and let us bring urban farming to you!
            |{% endif %}

        .push
          +cartItems

        .push.pull
          a.btn(href='{{order_status_url}}' target='_blank') Complete your order!

        .push.centered
          small.grey If you experience any problems placing your order then please contact us at #[b 720-441-2970].

        .blank &nbsp;

    include ../_partials/footer
