extend ../_layouts/default

block title
  meta(property='og:title' content='{{email_title}}')
  title {{email_title}}

block prelude
  |<!--
  |{% capture email_title %}Thank you for your purchase! {% endcapture %}
  |{% capture email_body %}
  |  {% if requires_shipping %}
  |    Hi {{ customer.first_name }}, we're getting your order ready to be shipped. We will notify you when it has been sent.
  |  {% endif %}
  |{% endcapture %}
  |-->

block content
  |{% for line in line_items %}
  |  {% assign product = line.product | join:',' %}
  |  {% break %}
  |{% endfor %}

  |{% assign productTags = product.tags | join:',' %}

  .push.centered
    |{% if productTags contains 'source' %}
    img(src=ASSET_CNC_URL width=112 height=142 alt='Source files')
    |{% else %}
    img(src=ASSET_CART_URL width=160 height=140 alt='Purchased Kits')
    |{% endif %}

  .push.centered
    h3 {{email_title}}

  |{% if custom_message != blank %}
  .push {{ custom_message }}
  |{% endif %}

  .push
    |{% if productTags contains 'source' %}
    p.text Time to make some kits!
    |{% else %}
    p.text You will recieve your kit(s) soon.
    |{% endif %}

  .push
    +cartItems

  .push
    |{% if productTags contains 'source' %}
    p.text Now that you’ve downloaded the source files files, you can go ahead and start building!
    p.text.
      Our kits are always in constant improvement,
      so don’t forget to visit our #[a(href='https://community.akerkits.com/' target='_blank') Community Forum]
      where you can provide your feedback and get support.
    |{% else %}
    p.text.
      Don’t forget to visit our #[a(href='https://community.akerkits.com/' target='_blank') Community Forum]
      where you can ask questions and get support.
    |{% endif %}

  .push.blue.spot
    |{% if productTags contains 'source' %}
    .right.pull
      a.btn(href='https://community.akerkits.com/c/design' target='_blank') Visit

    h4 AKER Kits Design
    |{% else %}
    .right.pull
      a.btn(href='https://community.akerkits.com/c/aker-community' target='_blank') Visit

    h4 AKER Community
    |{% endif %}
