//-
  ---
  theme: !include ../../_osbh.yml
  ---

extend ../../_layouts/osbh

block title
  meta(property='og:title' content='*|MC:SUBJECT|*')
  title *|MC:SUBJECT|*

block content
  .push.centered
    img.fit(src=theme.cart width=160 height=140 alt='Purchased Kits' mc:edit='product_image')

  .push.centered
    h3(mc:edit='product_label') Thank you for your purchase!

  .push(mc:edit='product_intro')
    p.text.
      Don’t forget to visit our #[a(href='//community.akerkits.com/' target='_blank') Community Forum]
      where you can ask questions and get support.

  .push.green.spot(mc:hideable)
    .templateColumns
      table(border=0 cellpadding=0 cellspacing=0 width='100%')
        tr.fix
          td.break.templateColumnContainer(align='center' valign='top' width='70%')
            table(border=0 cellpadding=0 cellspacing=0 width='100%')
              tr: td.columnContent
                h4(mc:edit='community-forum') AKER Community
                small(mc:edit='community-posts') 0 topics

          td.templateColumnContainer(align='center' valign='top' width='30%')
            table(border=0 cellpadding=0 cellspacing=0 width='100%')
              tr: td.columnContent.pull
                a.btn(href='//community.akerkits.com/c/aker-community' target='_blank' mc:link='community-link') Visit
