include ../_helpers/taglib
block prelude
doctype html
html
  head
    if env === 'dev'
      base(href='/')
      link(rel='stylesheet' href='akerkits.css')
    else
      style <@import "akerkits.css">

    block title
      title AKER Kits
  body
    .wrapper
      include ../_partials/header

      .templateColumns
        .templateRowContainer
          table(border=0 cellpadding=0 cellspacing=0 width='100%')
            tr: td
              .push.centered
                a(href='*|LIST:URL|*' target='_blank')
                  img(src=ASSET_LOGOTYPE_AKER_URL width=180 height=50)

          block content

          .blank &nbsp;

      include ../_partials/footer
