include ../_helpers/taglib
block prelude
doctype html
html
  head
    if env === 'dev'
      base(href='/')
      link(rel='stylesheet' href='akerkits.css')
    else
      style <@import "akerkits.css">

    block title
      title AKER Kits
  body
    .wrapper
      include ../_partials/header

      .templateColumns
        .templateRowContainer
          include ../_partials/logotype

          block content

          .blank &nbsp;

      include ../_partials/footer
