include ../_helpers/taglib
block prelude
doctype html
html
  head
    if env === 'dev'
      base(href='/')
      link(rel='stylesheet' href='osbh.css')
    else
      style <@import "osbh.css">

    block title
      title OSBH
  body
    .wrapper
      include ../_partials/header

      .templateColumns
        .templateRowContainer
          include ../_partials/logotype

          block content

          .blank &nbsp;

      include ../_partials/footer
