mixin cartItems
  table.items(border=1 cellpadding=0 cellspacing=0 width='100%')
    |{% for line in line_items %}

    |{% if line.product.title %}
    |  {% assign line_title = line.product.title %}
    |{% else %}
    |  {% assign line_title = line.title %}
    |{% endif %}

    |{% if line.quantity < line.quantity %}
    |  {% capture line_display %} {{ line.quantity }} of {{ line.quantity }} {% endcapture %}
    |{% else %}
    |  {% assign line_display = line.quantity  %}
    |{% endif %}

    tr
      |{% if line.image %}
      td: img(src='{{ line | img_url: "compact_cropped" }}' width=100)
      |{% endif %}

      td(width='100%')
        h4 {{ line_title }}
        p.
          |{% if line.variant.title != 'Default Title' %}
          |{{ line.variant.title }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;
          |{% endif %}

          |{% if line.original_line_price != line.line_price %}
          |#[del {{ line.original_line_price | money }}]
          |{% endif %}

          |#[span {{ line.line_price | money }}]

          |#[small × {{ line_display }}]
    |{% endfor %}
