doctype html
html
  head
    title AKER Kits
    base(href='/')
    link(rel='stylesheet' href='styles.css')
  body
    include _partials/header

    .templateColumns
      .templateRowContainer
        include _partials/logotype
        include _partials/hero

        include _partials/section
        include _partials/grid

        .push
          a.btn(href='#') Purchase now!

        include _partials/footer
