doctype html
html
  head
    title AKER Kits
    base(href='/')
    link(rel='stylesheet' href='styles.css')
  body
    include _partials/header

    .templateColumns
      .templateRowContainer
        include _partials/logotype
        include _partials/hero

        include _partials/section
        include _partials/grid

        .push.pull
          a.btn(href='#') Purchase now!

        .blank &nbsp;

    include _partials/footer
