extend _layouts/default

block content
  .push
    h4 Base templates
    ul
      li: a(href='digest.html') Digest
      li: a(href='cart.html') Abandoned cart
      li: a(href='source.html') Source file
      li: a(href='kit.html') Purchased kit

    h4 Final templates
    ul
      li: a(href='export/newsletter.html') Newsletter
      li: a(href='export/abandoned_cart.html') Abandoned checkout
      li: a(href='export/order_confirmation.html') Order confirmation
