doctype html
html
  head
    title AKER Kits
    base(href='/')
    link(rel='stylesheet' href='styles.css')
  body
    include _partials/header

    .templateColumns
      .templateRowContainer
        include _partials/logotype

        .push
          h4 EMAIL Templates
          ul
            li: a(href='digest.html') Digest
            li: a(href='cart.html') Abandoned cart
            li: a(href='source.html') Source file
            li: a(href='kit.html') Purchased kit

        .blank &nbsp;

    include _partials/footer
