doctype html
html
  head
    title Untitled
    link(rel='stylesheet' href='styles.css')
  body

    .templateColumns.inverted
      table(border=0 cellpadding=0 cellspacing=0 width='100%')
        tr
          td.padded.centered If you are having problems viewing this email, please #[a(href='#') click here].

    .templateColumns
      .templateRowContainer
        table(border=0 cellpadding=0 cellspacing=0 width='100%')
          tr
            td.padded.centered <@image "images/aker-logo.png">

        table.templateColumns(border=0 cellpadding=0 cellspacing=0 width=600)
          tr
            td.templateColumnContainer(align='center' valign='top' width='50%')
              table(border=0 cellpadding=10 cellspacing=0 width='100%')
                tr
                  td.leftColumnContent
                    img.columnImage(src='http://placekitten.com/g/480/300' width=280 style='max-width:280px;')
                tr
                  td.leftColumnContent(valign='top')
                    h1 Left Column
                    |  Lorem ipsum dolor sit amet.
            td.templateColumnContainer(align='center' valign='top' width='50%')
              table(border=0 cellpadding=10 cellspacing=0 width='100%')
                tr
                  td.rightColumnContent
                    img.columnImage(src='http://placekitten.com/g/480/300' width=280 style='max-width:280px;')
                tr
                  td.rightColumnContent(valign='top')
                    h1 Right Column
                    |  Lorem ipsum dolor sit amet.

      table.templateColumns.inverted.dark(border=0 cellpadding=0 cellspacing=0 width=600)
        tr
          td.templateColumnContainer(align='center' valign='top' width='70%')
            table(border=0 cellpadding=0 cellspacing=0 width='100%')
              tr
                td.leftColumnContent.padded

                  <@image "images/icon-instagram.png">&nbsp;&nbsp;&nbsp;
                  <@image "images/icon-twitter.png">&nbsp;&nbsp;&nbsp;
                  <@image "images/icon-facebook.png">&nbsp;&nbsp;&nbsp;
                  <@image "images/icon-email.png">

                  p Come chat with us on our #[a(href='#') Community Forum].
                  p To manage email notifications, #[a(href='#') click here].

          td.templateColumnContainer(align='center' valign='top' width='30%')
            table(border=0 cellpadding=0 cellspacing=0 width='100%')
              tr
                td.rightColumnContent.centered.padded
                  <@image "images/aker-kits.png">
