doctype html
html
  head
    title OSBH / AKERKits
  body
    h1 E-mail templates for Shopify/Mailchimp

    h2 OSBH
    ul
      li: a(href='export/osbh/newsletter.html') MC. Newsletter
      li: a(href='export/osbh/purchased_kit.html') MC. Purchased kit
      li: a(href='export/osbh/downloaded_source.html') MC. Downloaded source
      li: a(href='export/osbh/abandoned_cart.html') S. Abandoned checkout
      li: a(href='export/osbh/order_confirmation.html') S. Order confirmation

    h2 AKERKits
    ul
      li: a(href='export/akerkits/newsletter.html') MC. Newsletter
      li: a(href='export/akerkits/purchased_kit.html') MC. Purchased kit
      li: a(href='export/akerkits/downloaded_source.html') MC. Downloaded source
      li: a(href='export/akerkits/abandoned_cart.html') S. Abandoned checkout
      li: a(href='export/akerkits/order_confirmation.html') S. Order confirmation
