@aker-text: #494b4d;

@aker-green: #498744;
@aker-green-dark: #6da936;
@aker-green-light: #aeca47;
@aker-green-background: #7eb445;

@aker-grey-light: #c7ccc2;
@aker-almost-black: #30332e;

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: Usual, Helvetica;
  background-color: @aker-green;
  font-size: 14px;
  color: @aker-text;
}

table {
  height: 100%;
}

p {
  margin: 10px 0;
}

h2 {
  margin: 0;
  font-size: 48px;
}

h3 {
  margin: 0;
  font-size: 32px;
  line-height: 40px;
}

h4 {
  margin: 0;
  font-size: 24px;
}

.btn {
  width: 100%;
  color: #fff;
  font-size: 11px;
  padding: 18px 24px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: @aker-green-background;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.15);
}

.fit {
  max-width: 100%;
}

.text {
  line-height: 28px;
}

.back {
  color: #fff;
  height: 260px;
  text-align: center;
  background-color: #000;
  background-position: center;
  position: relative;

  &.cover {
    width: 600px;
    height: 260px;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  &:before {
    position: absolute;
    background-color: #000;
    opacity: .3;
    content: ' ';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.banner {
  background-image: linear-gradient(45deg, @aker-green, @aker-green-light);
  background-color: @aker-green-light;
  text-align: center;
  padding: 30px;
  color: #fff;
}

.inverted {
  color: #fff;

  a {
    color: #fff;
  }
}

.dark {
  color: @aker-grey-light;
  background-color: @aker-almost-black;

  a {
    color: @aker-green-dark;
  }
}

.push {
  margin: 32px;

  + .push {
    margin-top: 0;
  }
}

.centered {
  text-align: center;
}

.templateColumns {
  margin: auto;
  max-width: 600px;
}

.templateRowContainer {
  border-top: 7px solid @aker-green-light;
  background-color: #fff;
}

@media only screen and (max-width:  480px) {
  .templateColumnContainer {
    display: block;
    width: 100%;
  }

  .templateColumns {
    width: 100%;
  }

  .columnContent {
    .fit {
      width: 100%;
      height: auto;
    }

    &.banner {
      height: 300px;
    }
  }
}
