.templateColumns
  table.inverted.dark(border=0 cellpadding=0 cellspacing=0 width='100%')
    tr
      td.templateColumnContainer(align='center' valign='top' width='70%')
        table(border=0 cellpadding=0 cellspacing=0 width='100%')
          tr: td.columnContent
            .push
              img(src='images/icon-instagram.png' width=20 height=20 valign='middle')
              |&nbsp;&nbsp;&nbsp;
              img(src='images/icon-twitter.png' width=19 height=16 valign='middle')
              |&nbsp;&nbsp;&nbsp;
              img(src='images/icon-facebook.png' width=9 height=18 valign='middle')
              |&nbsp;&nbsp;&nbsp;
              img(src='images/icon-email.png' width=20 height=14 valign='middle')

            .push
              p Come chat with us on our #[a(href='#') Community Forum].
              p To manage email notifications, #[a(href='#') click here].

      td.templateColumnContainer(align='center' valign='top' width='30%')
        table(border=0 cellpadding=0 cellspacing=0 width='100%')
          tr: td.columnContent
            .push.centered
              img(src='images/aker-kits.png' width=121 height=86)
