.push(mc:hideable)
  table.templateColumns(mc:hideable border=0 cellpadding=0 cellspacing=0)
    tr
      td.templateColumnContainer(align='center' valign='top' width='50%')
        table(border=0 cellpadding=0 cellspacing=0 width='100%')
          tr: td.columnContent
            img.fit(mc:edit='first-picture' src='http://placekitten.com/g/300/300' width=300)

      td.templateColumnContainer(align='center' valign='top' width='50%')
        table(border=0 cellpadding=0 cellspacing=0 width='100%')
          tr: td.columnContent.banner
            h4(mc:edit='first-content') Easy to assemble!

  table.templateColumns(mc:hideable border=0 cellpadding=0 cellspacing=0)
    tr: td.back.cover(mc:edit='middle-picture' style='background-image:url(//placehold.it/620x260)') &nbsp;

  table.templateColumns(mc:hideable border=0 cellpadding=0 cellspacing=0)
    tr
      td.templateColumnContainer(align='center' valign='top' width='50%')
        table(border=0 cellpadding=0 cellspacing=0 width='100%')
          tr: td.columnContent.banner
            h4(mc:edit='last-content') Perfect for long rooted plants!

      td.templateColumnContainer(align='center' valign='top' width='50%')
        table(border=0 cellpadding=0 cellspacing=0 width='100%')
          tr: td.columnContent
            img.fit(mc:edit='last-picture' src='http://placekitten.com/g/300/300' width=300)
